################

# Ignore MacOS folder listing: 
.DS_Store

# EMACS cruft - Ignore auto-save files from emacs:
*.*~
*~
\#*
*\#
\.\#*

# ignore zipped files
*.zip
# except for this one: 
!PutMyAliasInExtensions/RepQuarkTemplates.zip

# LaTeX cruft - Ignore Latex to pdf auxiliary file output
*.log
*.synctex.gz
*.out
*.toc
*.aux
