# Ignore MacOS folder listing: 
.DS_Store

# Ignore auto-save files from emacs:
*.*~
*~
\#*
*\#
\.\#*

# ignore zipped files
*.zip

# ignore Xcode project
*.xcodeproj

#other files and folders that should be ignored
# we are using this file to store files of work sessions with DocSessions
# but it gets in the way because of auto-save. So just leave an example version,
# but stop committing new versions:
*.sctxar

archive.sctxar 
tryout.scd

Extensions\ \(archive\)
Extensions\ \(disabled\)
HistoryLogs
Notes
quarks
SC_helptree.cache.txt
sclang_completion_dict
sounds
synthdefs

dev_only
